 .button {
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height:30px;
 
}
 

.ul {
  list-style: none;
  display: flex;
  gap: .5rem;
}

.pagination-wrapper{
    position: absolute;
  bottom: 0;
  width: 100%;
  
  text-align: center;
  padding: 10px 0;
  margin-left: 1rem;
  
}
