.wishlist{
    
  display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3rem, 13rem));

    justify-content: left;
    padding: 1rem;
    gap: 1rem;
}
.loadcon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlistcontainer{
 border: 2px solid #e6e6e6;
  border-radius: 0.5rem;
  
  font-size: var(--font-size-body-xl);
  font-weight: var(--font-weight-500);
  color: var(--gray-8);
  position: relative;
  width: 100%;
}
.emptywishlist{
  margin: 1rem;
justify-content: center;
 display: flex;
 align-items: center;
}
.emptywishlist img {
  max-width: 300px;
}


@media (max-width:450px) {
  .wishlist {
     grid-template-columns: repeat(auto-fit, minmax(3rem, 18rem));

    justify-content: center;
  }
}